* @pwei1018 @thorwolpert @kialj876

# UIs

## Corps
/web/corps @deetz99 @doug-lovett @eve-git @vysakh-menon-aot

## People-Roles (Officers, Liquidators, Receivers, etc)
/web/person-roles @deetz99 @doug-lovett @eve-git @vysakh-menon-aot

## Registry Dashboard
/web/business-registry-dashboard @meawong @Rajandeep98

## Registry Home
/web/registry-home @deetz99 @doug-lovett @eve-git @vysakh-menon-aot


# Packages

## Packages - Business Base Layer
/packages/layers/base @deetz99 @doug-lovett @eve-git @vysakh-menon-aot

## Packages - Playwright Config
/packages/configs/playwright-config @deetz99 @doug-lovett @eve-git @vysakh-menon-aot

## Packages - Vitest Config
/packages/configs/vitest-config @deetz99 @doug-lovett @eve-git @vysakh-menon-aot