## vaults api
# registries search api
NUXT_REGISTRIES_SEARCH_API_URL="https://test.api.connect.gov.bc.ca/registry-search-dev"
NUXT_REGISTRIES_SEARCH_API_VERSION="/api/v1"
NUXT_REGISTRIES_SEARCH_API_KEY=""
NUXT_X_API_KEY=""
# pay API
NUXT_PAY_API_URL="https://pay-api-dev.apps.silver.devops.gov.bc.ca"
NUXT_PAY_API_VERSION="/api/v1"
# auth api
NUXT_AUTH_API_GW_URL="https://test.api.connect.gov.bc.ca/auth-dev"
NUXT_AUTH_API_VERSION="/api/v1"
NUXT_APP_AUTH_API_KEY=""
# legal API
NUXT_LEGAL_API_URL="https://legal-api-dev.apps.silver.devops.gov.bc.ca"
NUXT_LEGAL_API_VERSION="/api/v2"
# business API
NUXT_BUSINESS_API_GW_URL="https://test.api.connect.gov.bc.ca/business-dev"
NUXT_BUSINESS_API_VERSION_2="/api/v2"
NUXT_BUSINESS_API_KEY=""
# namex api
NUXT_NAMEX_API_URL="https://namex-api-dev-475224072965.northamerica-northeast1.run.app"
NUXT_NAMEX_API_GW_URL="https://test.api.connect.gov.bc.ca/namex-dev"
NUXT_NAMEX_API_VERSION="/api/v1"
NUXT_NAMEX_API_KEY=""

# vaults web-url
NUXT_REGISTRY_HOME_URL="https://dev.bcregistry.gov.bc.ca/"
NUXT_PAYMENT_PORTAL_URL="https://dev.account.bcregistry.gov.bc.ca/makepayment/"
NUXT_NAME_REQUEST_URL="https://dev.names.bcregistry.gov.bc.ca/"
NUXT_ONE_STOP_URL="https://dev.onestop.gov.bc.ca/"
NUXT_APP_SOCIETIES_URL="https://www.bcregistry.ca/societies/"
NUXT_APP_CORP_FORMS_URL="https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/businesses-incorporated-companies/forms-corporate-registry"
NUXT_APP_LLP_FORMS_URL="https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-packages/pack_01_llp_-_registration_forms_package.pdf"
NUXT_APP_LP_FORMS_URL="https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-forms/reg_791_-_declaration_for_bc_limited_partnership.pdf"
NUXT_APP_XLP_FORMS_URL="https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-forms/reg_790_-_declaration_for_extraprovincial_limited_partnership.pdf"
NUXT_BUSINESS_DASH_URL="https://dev.business-dashboard.bcregistry.gov.bc.ca/"
NUXT_CORPORATE_ONLINE_URL="https://www.corporateonline.gov.bc.ca"
NUXT_AUTH_WEB_URL="https://dev.account.bcregistry.gov.bc.ca/"
NUXT_BASE_URL="http://localhost:3000/" # app base url
NUXT_STEPS_TO_RESTORE_URL="https://www2.gov.bc.ca/gov/content/employment-business/business/managing-a-business/permits-licences/businesses-incorporated-companies/incorporated-companies#restore"

#vaults keycloak
NUXT_KEYCLOAK_AUTH_URL=""
NUXT_KEYCLOAK_REALM=""
NUXT_KEYCLOAK_CLIENTID=""

#google analytics
NUXT_GTAG_ID=""
NUXT_GTAG_DEBUG=""
NUXT_GTM_ID=""

# vaults launch darkly
NUXT_LD_CLIENT_ID=""

NUXT_ENVIRONMENT_HEADER="Development"
